name: LDP Release Workflow
on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+*'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: library-data-platform/ldp

jobs:
  release-ldp-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Log into GH Container Registry
        uses: docker/login-action@v1 
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
  
      - name: Build and publish Docker image
        uses: docker/build-push-action@v2
        with: 
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

